[Unit]
Description=Rubix Wires
Documentation=https://github.com/NubeIO/rubix-wires#readme
After=network.target

[Service]
Type=simple
User=<user>
WorkingDirectory=<working_dir>
ExecStart=/usr/bin/npm run prod:start --prod -- --datadir /data/rubix-wires --envFile /data/rubix-wires/.env
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nubeio-rubix-wires

[Install]
WantedBy=multi-user.target
